body{
    background: linear-gradient(to right,#fdfcfb,#e2d1c3);
    font-family: 'Solway',serif;
    text-align: center;
    color: #8a6242;
    /* border:2px dotted rgb(167,57,2);
    width: 100vw; */
}
#head{
    font-size: 40px;
    color: #674a32;
}
#un{
    font-size:10px;
}
#child{
    border: 3px solid rgb(167, 57, 2);
    padding-left: 15px;
    margin:15px;
    transform:all 2s ease; 

}
a{
    text-decoration: none;
}
#child:hover{
    transform: scale(1.2);
}
#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#parent{
    display: flex;
    flex-wrap: wrap;
}